.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0; 


    color: #001f3f;
    margin-bottom: 2rem;

    border-radius: 0; 
  }
  
  .logo {
    display: flex;
    align-self: left;
  }
  
  .logoImage {
    height: 65px; /* Ajuste a tamanho */
    width: auto; 
  }
  
  .nav {
    display: flex;
    gap: 0.5rem;
  }
  
  .navLink {
    color: #001f3f;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem; /* Tamanho da fonte reduzido para 0.85rem */
    padding: 0.5rem 0.5rem; 
    transition: color 0.2s;
    border-radius: 10px;
    border: 10px;
  }

  .loginLink {
    background-color: var(--color-primary, #0F2E22); /* Escolha a sua cor aqui */
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

  .loginLink:hover {
    background-color: #0f2e2270 !important; /* Cor quando passa o rato */
    color: #ffffff;
  }
  
  .navLink:hover {
    color: white;
    background-color: #0F2E22;
  }

  .themeToggleBtn {
    background: transparent !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e447b; /* Escuro no tema claro */
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 50%;
    border-color: #0e447b;
    transition: transform 0.2s ease, color 0.3s ease;
  }
  
  .themeToggleBtn:hover {
    transform: scale(1.1); /* Um efeito subtil ao passar o rato */
  }

  :global(body.dark) .themeToggleBtn {
    color: #ebe80a !important;
    border-color: #ebe80a;
  }